{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="{% static 'img/fav.png' %}">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>About Navprayas</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,300,500" rel="stylesheet">
		<!--
		CSS
		============================================= -->
		<link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
		<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
		<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
	</head>
	<body class="dup-body">
			<div id="fb-root"></div>
            <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ta_IN/sdk.js#xfbml=1&version=v3.2"></script>
		<div class="dup-body-wrap">
			<!-- Start Header Area -->
			<header class="default-header">
				<div class="header-wrap">
					<div class="header-top d-flex justify-content-between align-items-center">
						<div class="logo">
								<a href="#login">Login/Signup</a>
						</div>
						<div class="main-menubar d-flex align-items-center">
							<nav class="hide">
								<a href="/index">Home</a>
								<a href="/about">About</a>
								<a href="/events">Events</a>
								<a href="/notifications">Notifications</a>
                                <a href="/team">Team</a>
							</nav>
							<div class="menu-bar"><span class="lnr lnr-menu"></span></div>
						</div>
					</div>
				</div>
			</header>
		<!-- End Header Area -->
		<!-- Start Banner Area -->
		<section class="generic-banner relative">
			<div class="container" style="overflow-y:auto;">
				<div class="row height align-items-center justify-content-center">
					<div class="col-lg-10">
						<div class="banner-content text-center">
							<h2>About Navprayas</h2>
								<p>
								<strong>'NAVPRAYAS’</strong>, a Hindi word which means ‘New effort’ , is a voluntary organisation established in the year 2000 with the motive of the upliftment of the native society (Manpur Patwatoli) in the educational, society and moral aspects. It is a team of society students studying in different colleges under various streams across the globe.<br><br>
								This group allows us to think together in better way for spreading the light of education, matching the present scenario and other technical/non-technical developments in Manpur. We as a team leave no stone unturned in honouring them who set a milestone in dignifying our society through their dormant achievements. We, group of positive thinkers, feel that a lot needs to be done, can be done & should be done to bring it at par with rest of society.
								</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Banner Area -->
		<!-- Start Video Area -->
		<!-- <section class="video-area">
			<div class="overlay overlay-bg"></div>
			<div class="container">
				<div class="video-content">
					<a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="play-btn"><img src="{% static 'img/play-btn.png' %}" alt=""></a>
					<h3 class="h2 text-white">Everyone wants to be unique</h3>
				</div>
			</div>
		</section> -->
		<!-- End Video Area -->
		<!-- Start Achivement Area -->
		<!-- <section class="section-gap achivement-area">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-5">
						<div class="achivement-content">
							<h2>Our Achievements</h2>
							<p class="mb-30">Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when it comes to their behavior. While men’s borderline-inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct </p>
							<a href="#" class="primary-btn">View More<span class="lnr lnr-arrow-right"></span></a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="total-achivement">
							<div class="row">
								<div class="col-md-4 col-sm-6">
									<div class="single-achivement">
										<a href="#" class="achivement-link">
											<i class="fa fa-behance"></i>
										</a>
										<h6><a href="#">Behance Review</a></h6>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="single-achivement">
										<a href="#" class="achivement-link">
											<i class="fa fa-dribbble"></i>
										</a>
										<h6><a href="#">Dribbble Shots</a></h6>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="single-achivement">
										<a href="#" class="achivement-link">
											<i class="fa fa-youtube"></i>
										</a>
										<h6><a href="#">Youtube Subscribe</a></h6>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="single-achivement">
										<a href="#" class="achivement-link">
											<i class="fa fa-github"></i>
										</a>
										<h6><a href="#">Github Push</a></h6>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="single-achivement">
										<a href="#" class="achivement-link">
											<i class="fa fa-trophy"></i>
										</a>
										<h6><a href="#">Offline Trophy</a></h6>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="single-achivement">
										<a href="#" class="achivement-link">
											<i class="fa fa-usd"></i>
										</a>
										<h6><a href="#">Cash Prizes</a></h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section> -->
		<!-- End Achivement Area -->
		<!-- About Generic Start -->
		<!-- <section class="about-generic-area">
			<div class="overlay overlay-bg"></div>
			<div class="container border-top-generic">
				<h3 class="about-title mb-70 text-white">Elaboration about Generic Page</h3>
				<div class="row">
					<div class="col-md-12">
						<div class="img-text">
							<img src="{% static 'img/a.jpg' %}" alt="" class="img-fluid float-left mr-20 mb-20">
							<p class="text-white">Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks such as Party Gaming and PlayTech left the United States. Overnight, online casino players found themselves being chased by the Federal government. But, after a fortnight, the online casino industry came up with a solution and new online casinos started taking root. These began to operate under a different business umbrella, and by doing that, rendered the transfer of money to and from them legal. A major part of this was enlisting electronic banking systems that would accept this new clarification and start doing business with me. Listed in this article are the electronic banking systems that accept players from the United States that wish to play in online casinos.</p>
						</div>
					</div>
					<div class="col-lg-12">
						<p class="text-white">Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks such as Party Gaming and PlayTech left the United States. Overnight, online casino players found themselves being chased by the Federal government. But, after a fortnight, the online casino industry came up with a solution and new online casinos started taking root. These began to operate under a different business umbrella, and by doing that, rendered the transfer of money to and from them legal. A major part of this was enlisting electronic banking systems that would accept this new clarification and start doing business with me. Listed in this article are the electronic banking systems that accept players from the United States that wish to play in online casinos.</p>
					</div>
					<div class="col-lg-12">
						<p class="text-white">Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks such as Party Gaming and PlayTech left the United States. Overnight, online casino players found themselves being chased by the Federal government. But, after a fortnight, the online casino industry came up with a solution and new online casinos started taking root. These began to operate under a different business umbrella, and by doing that, rendered the transfer of money to and from them legal. A major part of this was enlisting electronic banking systems that would accept this new clarification and start doing business with me. Listed in this article are the electronic banking systems that accept players from the United States that wish to play in online casinos.</p>
					</div>
					<div class="col-md-12">
						<div class="img-text">
							<img src="{% static 'img/a2.jpg' %}" alt="" class="img-fluid float-left mr-20 mb-20">
							<p class="text-white">Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks such as Party Gaming and PlayTech left the United States. Overnight, online casino players found themselves being chased by the Federal government. But, after a fortnight, the online casino industry came up with a solution and new online casinos started taking root. These began to operate under a different business umbrella, and by doing that, rendered the transfer of money to and from them legal. A major part of this was enlisting electronic banking systems that would accept this new clarification and start doing business with me. Listed in this article are the electronic banking systems that accept players from the United States that wish to play in online casinos.</p>
						</div>
					</div>
				</div>
			</div>
		</section> -->
		<!-- End Generic Start -->

		<!-- Start Contact Area -->
		<div>
		<section class="contact-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-6">
							<div class="single-address text-center">
								<h6>Visit Our Office</h6>
								<p>Durga Sthan, Patwatoli, Manpur<br>P.O. Buniyadganj<br>Gaya, Bihar<br>823003</p>
							</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="single-address text-center">
							<h6>Call us</h6>
							<p>Phone :  +91 9876543210</p>
						</div>
					</div>
							<div class="col-lg-3 col-md-6">
								<div class="single-address text-center">
									<h6>Email Us</h6>
									<p><a href="mailto:navprayas.np2000@gmail.com">navprayas.np2000@gmail.com</a></p>
								</div>
							</div>
							<!-- <div class="col-lg-3 col-md-6">
								<div class="single-address text-center">
									<h6>Customer Support</h6>
									<p><a href="mailto:demo@gmail.com">support@colorlib.com</a> <br>
										<a href="mailto:demo@gmail.com">emergencysupp@colorlib.com</a> <br>
										<a href="mailto:demo@gmail.com">extremesupp@colorlib.com</a></p>
								</div>
							</div> -->
				</div>
			</div>
		</section>
		</div>
		<!-- End Contact Area -->

		<!-- Start Subscription Area -->

		<!-- End Subscription Area -->

		<!-- Strat Footer Area -->
		<footer class="section-gap footer-widget-area">
			<div class="overlay overlay-bg"></div>
			<div class="container">

				<div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
					<p class="footer-text m-0">Copyright &copy; 2018 All rights reserved</p>
					<div class="footer-social d-flex align-items-center">
							<div class="fb-page" data-href="https://www.facebook.com/navprayas.np/" data-tabs="timeline" data-width="300" data-height="120" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/navprayas.np/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/navprayas.np/">Navprayas: A Group of Innovative Thoughts</a></blockquote></div>
						<a href="https://www.facebook.com/navprayas.np/"><i class="fa fa-facebook"></i></a>
					</div>
				</div>
			</div>
		</footer>
		<!-- End Footer Area -->
		</div>

		<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
	</body>
</html>
