{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="{% static 'img/fav.png' %}">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Team</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,300,500" rel="stylesheet">
		<!--
		CSS
		============================================= -->
		<link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
		<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
		<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
	</head>
	<body class="dup-body">
			<!-- <div id="fb-root"></div>
            <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ta_IN/sdk.js#xfbml=1&version=v3.2"></script> -->
		<div class="dup-body-wrap">
			<!-- Start Header Area -->
			<header class="default-header">
				<div class="header-wrap">
					<div class="header-top d-flex justify-content-between align-items-center">
						<div class="logo">
								<a href="/index" style="color: white;">Home</a>
						</div>
						<div class="main-menubar white-menubar d-flex align-items-center">
							<nav class="hide">
									<a href="/index">Home</a>
									<a href="/about">About</a>
									<a href="/events">Events</a>
									<a href="/notifications">Notifications</a>
									<a href="/team">Team</a>
							</nav>
							<div class="menu-bar"><span class="lnr lnr-menu"></span></div>
						</div>
					</div>
				</div>
			</header>
		<!-- End Header Area -->
		<!-- Start Banner Area -->
		<section class="generic-banner element-banner relative">
			<div class="container">
				<div class="row height align-items-center justify-content-center">
					<div class="col-lg-10">
						<div class="banner-content text-center">
							<h2 class="text-white">Meet Our Team</h2>
							<p class="text-white">It's all about the team finally!</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Banner Area -->
		<!-- Start Sample Area -->
		<!-- End Sample Area -->
		<!-- Start Button -->
		
		<!-- End Button -->
		<!-- Start Align Area -->
		<div class="white-bg">
			<div class="container">
				<div class="section-top-border">
					<h3>Team 2018</h3>
					<div class="row gallery-item">
						<div class="col-md-3">
							<a href="{% static 'img/kedar.jpg' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/kedar.jpg' %});"></div></a>
							<p class="text-center">Kedar Nath</p>
							<p class="text-center">IIT Guwahati</p>
							<p class="text-center">Coordinator</p>
						</div>
						<div class="col-md-3">
							<a href="{% static 'img/pawan.jpg' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/pawan.jpg' %});"></div></a>
							<p class="text-center">Pawan Kumar</p>
							<p class="text-center">IIIT Allahabad</p>
							<p class="text-center">Coordinator</p>
						</div>
						<div class="col-md-3">
							<a href="{% static 'img/raju.jpg' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/raju.jpg' %});"></div></a>
							<p class="text-center">Raju Ranjan</p>
							<p class="text-center">IIT BHU</p>
							<p class="text-center">Organising Head</p>
						</div>
						<div class="col-md-3">
							<a href="{% static 'img/ranjan.jpg' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/ranjan.jpg' %});"></div></a>
							<p class="text-center">Ranjan Kumar</p>
							<p class="text-center">IIT ISM Dhanbad</p>
							<p class="text-center">Coordinator</p>
						</div>
						<div class="col-md-3">
							<a href="{% static 'img/sushish.jpg' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/sushish.jpg' %});"></div></a>
							<p class="text-center">Sushish Kumar</p>
							<p class="text-center">IIT BHU</p>
							<p class="text-center">Organising Head</p>
						</div>
						<div class="col-md-3">
							<a href="{% static 'img/akash.jpg' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/akash.jpg' %});"></div></a>
							<p class="text-center">Akash Kumar</p>
							<p class="text-center">MNNIT Allahabad</p>
							<p class="text-center">Organiser Head</p>
						</div>
						<div class="col-md-3">
							<a href="{% static 'img/govind.jpg' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/govind.jpg' %});"></div></a>
							<p class="text-center">Govind Nath</p>
							<p class="text-center">NIT Surathkal</p>
							<p class="text-center">Organiser</p>
						</div>
						<div class="col-md-3">
							<a href="{% static 'img/g8.jpg' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/g8.jpg' %});"></div></a>
							<p class="text-center">Gautam Raj</p>
							<p class="text-center">NIT Trichy</p>
							<p class="text-center">Coordinator</p>
						</div>
					</div>
				</div>
				<div class="section-top-border">
						<h3>Team 2017</h3>
						<div class="row gallery-item">
							<div class="col-md-3">
								<a href="{% static 'img/g1.jpg' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/g1.jpg' %});"></div></a>
								<p class="text-center">Kedar Nath</p>
								<p class="text-center">IIT Guwahati</p>
								<p class="text-center">MnC</p>
							</div>
							<div class="col-md-3">
								<a href="{% static 'img/g2.jpg' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/g2.jpg' %});"></div></a>
								<p class="text-center">Pawan Kumar</p>
								<p class="text-center">IIIT Allahabad</p>
								<p class="text-center">IT</p>
							</div>
							<div class="col-md-3">
								<a href="{% static 'img/g3.jpg' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/g3.jpg' %});"></div></a>
								<p class="text-center">Krishna Kumar</p>
								<p class="text-center">IIT BHU</p>
								<p class="text-center">Metallurgy</p>
							</div>
							<div class="col-md-3">
								<a href="{% static 'img/g4.jpg' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/g4.jpg' %});"></div></a>
								<p class="text-center">Ranjan Kumar</p>
								<p class="text-center">IIT ISM Dhanbad</p>
								<p class="text-center">ECE</p>
							</div>
							<div class="col-md-3">
								<a href="{% static 'img/g5.jpg' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/g5.jpg' %});"></div></a>
								<p class="text-center">Aman Kumar</p>
								<p class="text-center">Heritage Institute of Technology, Kolkata</p>
								<p class="text-center">CSE</p>
							</div>
							<div class="col-md-3">
								<a href="{% static 'img/g6.jpg' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/g6.jpg' %});"></div></a>
								<p class="text-center">Akash Kumar</p>
								<p class="text-center">MNNIT Allahabad</p>
								<p class="text-center">MnC</p>
							</div>
							<div class="col-md-3">
								<a href="{% static 'img/g7.jpg' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/g7.jpg' %});"></div></a>
								<p class="text-center">Govind Nath</p>
								<p class="text-center">NIT Surathkal</p>
								<p class="text-center">Metallurgy</p>
							</div>
							<div class="col-md-3">
								<a href="{% static 'img/g8.jpg' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/g8.jpg' %});"></div></a>
								<p class="text-center">Gautam Raj</p>
								<p class="text-center">NIT Trichy</p>
								<p class="text-center">Metallurgy</p>
							</div>
						</div>
					</div>
			</div>
		<!-- Strat Footer Area -->
		<footer class="section-gap footer-widget-area">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
						<p class="footer-text m-0">Copyright &copy; 2019 All rights reserved</p>
						<div class="footer-social d-flex align-items-center">
								<!-- <div class="fb-page" data-href="https://www.facebook.com/navprayas.np/" data-tabs="timeline" data-width="300" data-height="120" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/navprayas.np/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/navprayas.np/">Navprayas: A Group of Innovative Thoughts</a></blockquote></div> -->
							<a href="https://www.facebook.com/navaprayas.np"> <i class="fa fa-facebook"></i></a>
						</div>
					</div>
				</div>
			</footer>
		<!-- End Footer Area -->
		</div>

		<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
	</body>
</html>
